label{
    display: inline-block;
    width: 8em;
    margin-left: 0.5em;
    padding: 0.5em;

}
input{
    display: inline-block;
    width: 8em;
    margin-left: 0.5em;
    padding: 0.5em;
}
input:focus{
    border-color: orange;
}
.login, .add-contact, .update-delete{
    background-color: lightgray;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 20em;
    border: 0.2em solid black ;
}

.map{
    display: inline-block;
    background-color: lightgray;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 35em;
    border: 0.2em solid black ;
}
table{
    float: left;
    width: 6em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
td{
    padding: 0.3em;
    border: 0.2em solid black;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
#basicMap{
    display: inline-block;
}
.buttons{
    background-color: rgb(255, 166, 0);
    margin-top: 1em;
}
.map-buttons{
    float: top;
    width: 10em;
    margin-bottom: 0.5em;
    background-color: rgb(255, 166, 0);
}
.checkbox{
    display: inline;
    margin-left: -3em;
}

.dropdown{
    width: 9em;
    margin-left: 0.5em;
    padding: 0.5em;
    height: 2em;
}

